<div style="margin: 6rem 20%">

    <div>
        用户信息： {{ indexData.userInfo.name }}
        <br/>
        <br/>
    </div>
    <a-tree v-model="checkedKeys" defaultExpandAll  :selectable="aaa"  checkable
            :replace-fields="replaceFields" :tree-data="treeData">

    </a-tree>

    <a-button> 保存此修改</a-button>
</div>

<script>

    var object = my.conversionInitDataFn('[[${object}]]');
    var userResourceIds = object.userResourceIds;
    var resourceList = object.resourceList;
    var content = new Vue({
        el: '#mid_content',
        data: function () {
            return {
                aaa: true,
                autoExpandParent: true,
                replaceFields: {
                    key: 'id',
                    title: 'label',
                },
                treeData: resourceList,
                checkedKeys: userResourceIds,
            }
        },
        methods: {
            initDataFn() {

            },
            updateFn() {
                //保存设置
                let param = {}
                axios.post("/backUser/saveOrUpdate", param).then(function (response) {
                    if (response.code == "0") {

                        my.jumpPage(config.backUserPageUrl);
                    } else {
                    }
                })
            }
        },
        mounted() {
        },
    })
</script>